<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="迅雷 牛X页游" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<script src="http://niu.xunlei.com/actives/include/niuxheader.html"></script>
	<div class="wrapper">
	</div>
	<script src="http://niu.xunlei.com/actives/include/niuxfooter.html"></script>
	<!--[if IE 6 ]><script src="js/DD_PNG_min.js"></script><![endif]-->
</body>
</html>