

$ico-spacing: 20px;
$ico-layout: vertical;
@import "ico/*.png";


@import "_base.scss";
@import "_mixin.scss";


/*br*/
.wrapper {
	padding-top: 52px;
	_padding-top: 0;
	min-width: 1190px;
	font-family: \5FAE\8F6F\96C5\9ED1;
}
.main { 
	position: relative;
	width: 960px;
	margin: 0 auto;
}

