
$browser-default-font-size: 16px !default;

@function pxTorem($px){
    @return $px / $browser-default-font-size / 2 * 1rem;
}

html { 
	font-size: 200%; 
}

/*雪碧图图片大小设置*/
.ico {
	background-size: pxTorem() auto;
}

html, body { 
	width: 100%; 
	height: 100%; 
	box-sizing: border-box; 
}
.wraper { 
	position: relative; 
	width: 100%; 
}

/*720*/
@media only screen and (min-width: 720px) { 
	html { font-size: 200%; } 
	.wraper { width: 720px; margin: 0 auto; }
}
@media only screen and (max-width: 719px) { 
	html { font-size: 177.78%; } 
	img { zoom: 0.8889; }
}
@media only screen and (max-width: 640px) { 
	html { font-size: 125%; } 
	img { zoom: 0.625; }
}
@media only screen and (max-width: 450px) { 
	html { font-size: 100%; } 
	img { zoom: 0.5; }
}
@media only screen and (max-width: 320px) { 
	html { font-size: 88.89%; } 
	img { zoom: 0.44445; }
}

/*640*/
@media only screen and (min-width: 640px) { 
	html { font-size: 200%; }
	.wraper { width: 640px; margin: 0 auto; }	
}
@media only screen and (max-width: 640px) { 
	html { font-size: 140.6%; }
	img { zoom: 0.703; } 
}
@media only screen and (max-width: 450px) { 
	html { font-size: 112.5%; } 
	img { zoom: 0.5625; }
}
@media only screen and (max-width: 360px) { 
	html { font-size: 100%; } 
	img { zoom: 0.5; }
}
@media only screen and (max-width: 319px) { 
	html { font-size: 88.89%; } 
	img { zoom: 0.44445; }
}
