<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="keywords" content="迅雷加速器" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<script src="http://act.jsq.xunlei.com/zt_common/common_jsq_header_js.html"></script>
	<div class="wrapper">
		<div class="main">
			<div class="banner">
				<div class="cm-share"><span class="lable">分享 :</span><a class="wbo" href="###"><i class="ico ico-s1"></i>官方微博</a><a class="wxin" href="###"><i class="ico ico-s2"></i>官网微信 <span class="code-img"><img src="images/wx-code.png" /></span></a><a class="colec" href="###"><i class="ico ico-s3"></i>收藏本站</a></div>
			</div>
		</div>
	</div>
	<script src="http://act.jsq.xunlei.com/zt_common/common_jsq_footer_js.html"></script>
	<!--[if IE 6 ]><script src="js/DD_PNG_min.js"></script><![endif]-->
</body>
</html>